*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(60deg, #153677, #4e085f);
/*
Essa função foi novidade pra mim, mais opções de estética
deg = degress (angulo)

alem de linear-gradient() tem outras funções?sim,
conic-gradient
radial-gradient

as cores so sao aceitas em hexadecimal?
aceitam todas as outras, string, rgb e hexadecimal

posso alterar o angulo? 
pode de 0deg a 360deg
*/

    padding:10px;

}


.centro{
    width:100%;
    max-width: 540px;
    background-color: aliceblue;
    margin: 100px auto 20px;
    padding:40px 30px 70px;
    border-radius: 10px;
    justify-content: center; 
    /* ? - Parece que o alinhamento horizontal não funciona com svg ou to fazendo errado*/

}

.centro h2{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.centro h2 img{
    width: 40px;
    height: 40px;
    padding: 5px;
}

.adicionar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
    background: rgb(115, 115, 115);
}

input{
    flex:1;
    border:none;
    outline: none;
    background: transparent;
    padding: 10px;
}


button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background-color: rgb(245, 199, 80);
    color:black;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;

}


#list_container li{
    list-style: none;
    text-align: center; 
/* 
 Centraliza o texto  no centro, relativo ao "pai" associado 
 align-items - alinhas os textos?

 ou é tudo o contrario?

 */
    font-size: 17px;
    padding: 12px 8px 12px 0px; 
    user-select: none; /* ? - O que é isso? */
    cursor:pointer;
    position: relative;
}

ul li ::before{ /* TODO - Entender isso aqui */
/*
Aqui é o botao de "marcar a atividade como concluida" que não está funcionando e está na posição errada


*/


    content:'';
    position: absolute;
    height: 28px;
    width:28px;
    border-radius: 50%;
    background-image: url(img/radio-button-unchecked-svgrepo-com.png);
    background-size: cover;
    background-position: center;
    top:0.125rem;
    right: 28rem;

}


ul li.checked{
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before{
    background-image: url(img/checked-tick-svgrepo-com.png);
}


ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
}

ul li span:hover{
    background: #edeef0;
    border-radius: 50%;
}